.git
.turbo
.vscode
node_modules
**/node_modules

.next
**/.next
.open-next
.output
dist
**/dist
*.tsbuildinfo
next-env.d.ts

**/.env*
!**/.env.example

*.db
*.db-*
*.db*
packages/db/backups/

.DS_Store
logs
*.log
coverage
.cache
tmp
temp
